{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ReadScore - Predict Book Readability with Precision</title>
  <link rel="stylesheet" href="{% static 'output.css' %}" />
</head>
<body class="min-h-screen bg-background">

  {% block navbar %}
  <!-- Navigation -->
  {% endblock %}

  {% block content %}

  {% endblock %}

  {% block footer %}
  <!-- Footer -->
  {% endblock %}

  <script src="{% static 'scripts.js' %}"></script>
</body>
</html>